*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 25px;
    font-family: Montserrat;
    background-image: url("waves.svg"); 
}
.header{
    height: 10vh;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
}
#loginWindow{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vh;
    height: 60vh;
    border-radius: 6px;
    margin: 15px;
    box-shadow: rgba(46, 46, 46, 0.493) 10px 10px 40px 10px;
}
#loginWindowLeftSide{
    background-color: rgb(0, 0, 0);   
    background-image: url("colors.jpg"); 
    background-size: cover;
    width: 40%;
    height: 100%;   
    border-radius: 6px 0% 0% 6px;
    display: flex;
    align-items: center;    
    justify-content: flex-end;
}
#loginWindowRightSide{
    border-radius: 0% 6px 6px 0%;
    width: 60%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;  
}
#formContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}
input{
    width: 90%;
    height: 38px;
    background-color: rgb(255, 255, 255);
    box-shadow: inset rgb(94, 93, 93) 0px -2px ;
    border: none;
    outline: none;
    font-size: 25px;
    font-family: Montserrat;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 55px;
    margin-top: 3px;
}
#loginButton{
    width: 15vh;
    height: 7vh;
    margin-top: 40px;
    border: none;
    font-size: 2.8vh;
    font-family: Montserrat;
    border-radius: 5px;
    background-color: rgb(241, 241, 241);
    margin-bottom: 30px;
}
#buttonContainer{
    display: flex;
    flex-direction: column;
}
#loginWindowButton{
    width: 12vh;
    height: 7vh;
    border: none;
    font-size: 2.5vh;
    font-family: Montserrat;
    background-color: rgb(255, 255, 255);
    border-radius: 10px 0% 0% 10px;
}
#signUpWindowButton{
    width: 12vh;
    height: 7vh;
    border: none;
    font-size: 2.5vh;
    font-family: Montserrat;
    margin-top: 10px;
    background-color: rgb(219, 219, 219);
    border-radius: 10px 0% 0% 10px;
}
#loginHeading{
    margin-top: 25px;
}
form{
    text-align: center;
}